*{
    margin: 0px;
    padding: 0px;
}
.Index{
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    height: 70px;
    background: white;
    position: fixed;
    top:0;
    /*line-height: 70px;*/
}
header img{
    width: 60px;
    height: 40px;
    margin-left:130px;
    margin-right: 125px;
    /*margin-top: 17px;*/
}
header ul li{
  float: left;  
  margin-left: 5px;
  list-style: none;
  margin-top: 15px;
}
header ul li a{
   color: rgb(85, 83, 83); 
   text-decoration: none;
   font-size: 16px;
}
header ul li a:hover{
   color:darkblue
  
}
.top{
    margin-right: 32px;
    /*padding-right: 10px;*/
    padding-top: 10px;
}
#top1{
    margin-left: 40%;
    position: relative;

}
#btn{
    border-radius:25px;
    background-color: orange;
    width:90px;
    height:30px ;
    color: white;
     
     padding-top: 10px;
}
#btn:hover{
    background-color:orange;
}

content{
    width: 100%;
   height: auto;
 
}
.content_one
{
    margin-top: 80px;
    width: 100%;
    height: 800px;
    background: linear-gradient(to top,rgb(240, 149, 220),rgb(137, 175, 245));
    color: white;
}
.one_left{
    width: 45%;
    height: 650px;
   float: left;
}
.one_left img{
    margin-top: 100px;
    padding-left: 35%;
}
.one_right{
   
    width: 45%;
    height: 650px;
    float: right;
padding-top: 200px;
margin-right: 10%;
} 
.one_right p{
    padding-top: 20px;
    font-size: 20px;
} .one_a{
    padding-top: 120px;
}
.one_right .a-btn1{
    display:inline-block;
    width: 150px;
    height: 40px;
    background: white;
    border-radius: 25px;
    text-decoration: none;
    padding-top: 15px;

}
.one_right .a-btn2{
    display:inline-block;
    width: 150px;
    height: 40px;
    background: orange;
    border-radius: 25px;
    text-decoration: none;
    padding-top: 15px;
    margin-left: 20px;
    padding-left: 40px;
    color: white;
}
 .one_a .a-btn1 span{
    padding-left: 25px;
  
}
/*.ui-apple{
  width: 20px;
  height: 20px;
  
    background-image: url(image/u=3476482573\,773944624&fm=26&gp=0.jpg);
    background-size: 20px 20px;
    display:inline-block;
    text-decoration: inherit;
    text-align: center;
}*/
.one_a .a-btn1:hover{
    background: orange;
}
.one_a .a-btn2:hover{
    background: orange;
}
.content_two{
    width: 100%;
    height: 800px;
    background: white;
}
.two_left{
    width: 35%;
    height: 400px;
    padding-left: 12%;
    float: left;
    margin-top: 200px;
    
}
.two_left p{
    padding-top: 50px;
    color: gray;
    font-size: 20px;
}
.two_left .two_a_btn2{
    display:inline-block;
    width: 150px;
    height: 40px;
    background: orange;
    border-radius: 25px;
    text-decoration: none;
    padding-top: 15px;
    margin-left: -10px;
    padding-left: 40px;
    color: white;
    margin-left: 20px;
    margin-top: 50px;
}

.two_right{
    width: 35%;
    height: 400px;
    
    float: right;
    margin-right: 15%;
    margin-top: 100px;
}
.content_three{
    width: 100%;
    height: 800px;
    margin-top: 50px;
}
.three_left{
    width: 30%;
    height: 700px;
    float: left;
  /*  border: 1px solid black; ]*/
    margin-left: 50px;
}
.three_center{
    width: 30%;
    height: 700px;
    float: left;
    /*border: 1px solid black; */
    
}
.three_center img{
    margin-top: 50px;
    padding-left: 50px;
}

.three_right{
    width: 30%;
    height: 700px;
    float: left;
   /* border: 1px solid black; */
    margin-right: 70px;
}
.three_left_top,.three_left_foot
{
    width: 70%;
    height: 300px;
    margin:  0px auto;
    margin-top: 50px;
}
.three_left_top a,.three_left_foot a {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(image/111.png) ;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-left: 40%;
   
}

.three_left_top h3,.three_left_foot h3
{
    padding-top: 30px;
    text-align: center;
}
.three_left_top p,.three_left_foot p
{
    padding-top: 30px;
    text-align: center;
    color: gray;
}
.three_right_top,.three_right_foot
{
    width: 70%;
    height: 300px;
    margin:  0px auto;
    margin-top: 50px;
}
.three_right_top a,.three_right_foot a {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(image/111.png) ;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-left: 40%;
   
}
.three_right_top h3,.three_right_foot h3
{
    padding-top: 30px;
    text-align: center;
}
.three_right_top p,.three_right_foot p
{
    padding-top: 30px;
    text-align: center;
    color: gray;
}
.content_four{
    width: 100%;
    height: 500px;
    background: whitesmoke;
}
.four_left,.four_right{
    width: 35%;
    height: 300px;
    
    overflow: hidden; 
    float: left;
    margin-left: 10%;
    margin-top: 100px;
}
.four_left img,.four_right img{
    width: 100px;
    height: 100px;
    margin-left: 40%;
    border-radius: 50px;
    
}
.four_left .p1,span.four_right .p1,span{
    color: gray;
    text-align: center;
    padding-top: 20px;
}
.four_left .p2,.four_right .p2
{
    margin-top: 40px;
    margin-left: 25%;
    float: left;
}
.four_left span,.four_right span
{
    float: left;
   margin-top: 20px;
    margin-left: 10px;
}

.four_left:hover {
    transform: translate(0,-10%);
    box-shadow: 0 0 10px #AAA;
}
.four_right:hover {
    transform: translate(0,-10%);
    box-shadow: 0 0 10px #AAA;
}


.footer{
    width: 100%;
    height: 300px;
   margin-top: 80px;  
     background-color: rgb(137, 175, 245);
}

.footer_p1{
    color: white;
    text-align: center;
    font-size: 30px;
   padding-top: 30px;
}
.footer_p2{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;  
}
.txt{
    padding-top: 30px; 
    margin: 0 auto; 
    width: 280px;
    height: 80px;
}
.text{
    width: 200px;
    height: 50px;
    border-radius: 8px;
    color: gray;
    
}
.footer_a{
    display: block;
    border-radius: 8px;
width: 79px;
height: 50px;
margin-left: -5px;
background: rgb(79, 79, 243);
line-height: 50px;
text-decoration: none;
float: right;
color: white;


}
.content_five{
    width: 100%;
    height: 700px;
}
#imgchangediv img{
    float: left;
}
#imgchangediv{
    padding-left: 20px;
    width: 100%;

}
#imgchangediv img{
  float: left;  
}
.img1{
    padding-left: 15%;
}
.content_six{
    width: 100%;
    height: 400px;
    background:whitesmoke;
}
.content_six h1{
    text-align: center;
    padding: 100px;
}
.six_a{
    text-decoration: none;
    width: 50%;
    height: 200px;
    margin-left: 35%;
    
}
.six_a span{
    padding-left: 23px;
   line-height: 60px;
    color: white;
}
.gp{
    background-color: green;
    width: 150px;display: inline-block;
    height: 60px;
    text-decoration: none;
border-radius: 10px;

}
.wid{
    background-color: blue;
    width: 150px;display: inline-block;
    height: 60px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
border-radius: 10px;
}
.app{
    background-color: black;
    width: 150px;display: inline-block;
    text-decoration: none;
    height: 60px;
    color: white;
    margin-left: 20px;
border-radius: 10px;
}
.app span{
    padding-left: 30px;
}
.footer_last{
    width: 100%;
    height: 200px;
    margin-top: 150px;
}
.last_left{
    width: 400px;
    height: 200px;;
    float: left;
}
.last_right{
    width: 500px;
    height: 200px;
    float: right;

}
.left_p{
    padding-left: 220px;
    font-size: 24px;
}
.left_tr {
    padding-top: 10px;
}
.left_tr ul li{
    
    margin-left: 200px;
    list-style: none;
}
.last_left ul li a{
    text-decoration: none;
    float: left;
padding-left: 10px;
}
.last_p{
    text-align:center;
}
table{border:0;
    margin:0;
    border-collapse:collapse;}
.left_tr table tr{
    display: block;
    padding: 15px;
}
.last_right {
width: 50%;
height: 200px;
float: left;
}
.aaa{
    float: right;
    margin-right: 50px;
}
.aaa ul li{
    list-style: none;
}
.aaa ul li a{
    text-decoration: none;
    color: gray;
    font-size: 13px;
}
.aaa ul li a:hover{
   
    color:black;
   
}
.aaa ul {
    margin-top: 10px;
}
